USE [master]
GO
/****** Object:  Database [AQACommuteDB]    Script Date: 12/1/2017 3:31:25 PM ******/
CREATE DATABASE [AQACommuteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AQACommuteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQACommuteDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AQACommuteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQACommuteDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AQACommuteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AQACommuteDB]
GO
/****** Object:  Table [dbo].[Commute]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Commute](
	[CommuteID] [int] IDENTITY(1,1) NOT NULL,
	[CommuteTime] [varchar](50) NULL,
	[StartPoint] [nvarchar](300) NOT NULL,
	[EndPoint] [nvarchar](300) NOT NULL,
	[TotalMiles] [float] NULL,
	[CO2GeneratedLbs] [float] NOT NULL,
	[TransportMethodID] [int] NOT NULL,
 CONSTRAINT [PK_Commute] PRIMARY KEY CLUSTERED 
(
	[CommuteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommuteLocation]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommuteLocation](
	[CommuteLocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationsID] [int] NOT NULL,
	[CommuteID] [int] NOT NULL,
 CONSTRAINT [PK_CommuteLocation] PRIMARY KEY CLUSTERED 
(
	[CommuteLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationsID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[LocationAddress] [nvarchar](100) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Make]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Make](
	[MakeID] [int] IDENTITY(1,1) NOT NULL,
	[MakeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Make] PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Model]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Option]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[OptionName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Option] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransportMethod]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportMethod](
	[TransportMethodID] [int] IDENTITY(1,1) NOT NULL,
	[TransportMode] [nvarchar](50) NOT NULL,
	[TransportClass] [nvarchar](50) NULL,
	[AvgMPG] [float] NOT NULL,
	[CityMPG] [float] NULL,
	[HwyMPG] [float] NULL,
	[CO2Lbs] [float] NULL,
	[MakeID] [int] NULL,
	[ModelID] [int] NULL,
	[YearID] [int] NULL,
	[OptionID] [int] NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [nvarchar](50) NULL,
	[Options] [nvarchar](200) NULL,
 CONSTRAINT [PK_TransportMethod] PRIMARY KEY CLUSTERED 
(
	[TransportMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UTM]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTM](
	[UTMID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[TransportMethodID] [int] NOT NULL,
 CONSTRAINT [PK_UTM] PRIMARY KEY CLUSTERED 
(
	[UTMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Year]    Script Date: 12/1/2017 3:31:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Year](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Year] PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Commute]  WITH CHECK ADD  CONSTRAINT [FK_Commute_TransportMethod] FOREIGN KEY([TransportMethodID])
REFERENCES [dbo].[TransportMethod] ([TransportMethodID])
GO
ALTER TABLE [dbo].[Commute] CHECK CONSTRAINT [FK_Commute_TransportMethod]
GO
ALTER TABLE [dbo].[CommuteLocation]  WITH CHECK ADD  CONSTRAINT [FK_CommuteLocation_Commute] FOREIGN KEY([CommuteID])
REFERENCES [dbo].[Commute] ([CommuteID])
GO
ALTER TABLE [dbo].[CommuteLocation] CHECK CONSTRAINT [FK_CommuteLocation_Commute]
GO
ALTER TABLE [dbo].[CommuteLocation]  WITH CHECK ADD  CONSTRAINT [FK_CommuteLocation_Locations] FOREIGN KEY([LocationsID])
REFERENCES [dbo].[Locations] ([LocationsID])
GO
ALTER TABLE [dbo].[CommuteLocation] CHECK CONSTRAINT [FK_CommuteLocation_Locations]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Locations] FOREIGN KEY([LocationsID])
REFERENCES [dbo].[Locations] ([LocationsID])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Locations]
GO
ALTER TABLE [dbo].[TransportMethod]  WITH CHECK ADD  CONSTRAINT [FK_TransportMethod_Make] FOREIGN KEY([MakeID])
REFERENCES [dbo].[Make] ([MakeID])
GO
ALTER TABLE [dbo].[TransportMethod] CHECK CONSTRAINT [FK_TransportMethod_Make]
GO
ALTER TABLE [dbo].[TransportMethod]  WITH CHECK ADD  CONSTRAINT [FK_TransportMethod_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Model] ([ModelID])
GO
ALTER TABLE [dbo].[TransportMethod] CHECK CONSTRAINT [FK_TransportMethod_Model]
GO
ALTER TABLE [dbo].[TransportMethod]  WITH CHECK ADD  CONSTRAINT [FK_TransportMethod_Option] FOREIGN KEY([OptionID])
REFERENCES [dbo].[Option] ([OptionID])
GO
ALTER TABLE [dbo].[TransportMethod] CHECK CONSTRAINT [FK_TransportMethod_Option]
GO
ALTER TABLE [dbo].[TransportMethod]  WITH CHECK ADD  CONSTRAINT [FK_TransportMethod_Year] FOREIGN KEY([YearID])
REFERENCES [dbo].[Year] ([YearID])
GO
ALTER TABLE [dbo].[TransportMethod] CHECK CONSTRAINT [FK_TransportMethod_Year]
GO
ALTER TABLE [dbo].[UTM]  WITH CHECK ADD  CONSTRAINT [FK_UTM_TransportMethod] FOREIGN KEY([TransportMethodID])
REFERENCES [dbo].[TransportMethod] ([TransportMethodID])
GO
ALTER TABLE [dbo].[UTM] CHECK CONSTRAINT [FK_UTM_TransportMethod]
GO
ALTER TABLE [dbo].[UTM]  WITH CHECK ADD  CONSTRAINT [FK_UTM_UTM] FOREIGN KEY([UTMID])
REFERENCES [dbo].[UTM] ([UTMID])
GO
ALTER TABLE [dbo].[UTM] CHECK CONSTRAINT [FK_UTM_UTM]
GO
USE [master]
GO
