USE [master]
GO
/****** Object:  Database [AQAMvp]    Script Date: 11/29/2017 2:02:37 PM ******/
CREATE DATABASE [AQAMvp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AQAMvp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQAMvp.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AQAMvp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AQAMvp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AQAMvp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AQAMvp]
GO
/****** Object:  Table [dbo].[Commute]    Script Date: 11/29/2017 2:02:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commute](
	[CommuteID] [int] IDENTITY(1,1) NOT NULL,
	[DistanceTraveled] [float] NOT NULL,
	[CommuteTimeSpent] [datetime] NULL,
	[CommuteTimeEnd] [datetime] NULL,
	[C02Footprint] [float] NOT NULL,
	[VehicleID] [int] NULL,
 CONSTRAINT [PK_Commute] PRIMARY KEY CLUSTERED 
(
	[CommuteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 11/29/2017 2:02:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [varchar](30) NOT NULL,
	[Model] [varchar](30) NOT NULL,
	[Year] [varchar](4) NOT NULL,
	[Class] [varchar](20) NOT NULL,
	[MPGCity] [float] NOT NULL,
	[MPGHwy] [float] NOT NULL,
	[MPGAvg] [float] NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([VehicleID], [Make], [Model], [Year], [Class], [MPGCity], [MPGHwy], [MPGAvg]) VALUES (1, N'Nissan', N'Altima', N'2008', N'Sedan', 23, 31, 26)
INSERT [dbo].[Vehicle] ([VehicleID], [Make], [Model], [Year], [Class], [MPGCity], [MPGHwy], [MPGAvg]) VALUES (2, N'Dodge', N'Ram', N'2008', N'Truck', 13, 18, 15.5)
INSERT [dbo].[Vehicle] ([VehicleID], [Make], [Model], [Year], [Class], [MPGCity], [MPGHwy], [MPGAvg]) VALUES (3, N'Chrysler', N'Town & Country', N'2008', N'Minivan', 16, 23, 19.5)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
ALTER TABLE [dbo].[Commute]  WITH CHECK ADD  CONSTRAINT [FK_Commute_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[Commute] CHECK CONSTRAINT [FK_Commute_Vehicle]
GO
USE [master]
GO
