@{
    ViewBag.Title = "ResourcesPage";
}

<h2>Resources</h2>

<h4>Here we have a list of resources used for research and development in our application.</h4>

<h6>FuelEconomy.gov</h6>

<p>First we have a widget obtained from <a href="http://www.fueleconomy.gov/">fueleconomy.gov</a> used to obtain fuel economy information directly from the U.S Government.</p>

<h6>Cool Climate</h6>

<p><a href="http://coolclimate.berkeley.edu/index">CoolClimate</a> Network is a set of tools and information created by the University of California, Berkeley, to help people create a cooler planet. We utilized these tools to gain information on the emissions trends of our area as well as the trends of the United States as a whole.</p>

<h6>WWF</h6>

<p>Here we utilized <a href="http://footprint.wwf.org.uk/tips">WWF's</a> tip section to help people gain a better understanding of what they can do to create a better planet.</p>

<h6>EPA</h6>

<p>We used the <a href="https://www.epa.gov/">EPA's</a> large source of information and statistics to develop our algorithms calculating the user's carbon footprint.</p>

<h6>Paris Climate Agreement</h6>

<p>Here we used <a href="https://news.nationalgeographic.com/2017/10/paris-agreement-climate-change-usa-nicaragua-policy-environment/">National Geographic's Paris Agreement</a> page to gain information regarding future goals</p>