.container {
    width: auto;
}

.textcolor {
    color: white;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.row {
    padding: 20px;
    height: auto;
    width: auto;
}

#map {
    height: 400px;
}
/*Resources Page*/
#UserResources {
    padding-right: 160px;
}
#Title {
    padding-left: 130px;
}

#ResourceMaster {
    padding-right: 290px;
}

#GoogleAPI {
    position: relative;
    left: -230px;
    top: 70px;
}


/*PVP TRANSIT PAGE START*/

#snowbus {
    height: 400px;
    width: 400px;
    float: left;
    padding-left: 0px;
    padding-right: 20px;
}

ul {
    list-style-position: inside;
}
/*PVP TRANSIT PAGE END*/


/*details Page commute*/
.detailsCommute{
    text-align:left!important;
}

li.detailsCommute{
    font-size:18px;
    list-style-type:none;
}

li.marginAlign{
    margin-left:5px;
}

.betweenLines{
    padding-top:5px;
}

#padRight{
    padding-right:5px;
}

.CO2 {
    font-weight:bold;
}

.normalWeight {
    font-weight:normal !important;
}

.arrowGlyphicon {
    font-size:22px;
}

.resizeFlats {
    height: 30px;
    width: 30px;
}

#snowbus {
   height: 400px;
   width: 400px;
   float: left;
   padding-left: 15px;
   padding-right: 20px;
}

.row .thumbnail {
    border-radius:15px 50px 30px !important;
}

.btn {
    border-radius: 10px !important;
}
>>>>>>> f02ae374f4b92f2f541ebcd88fdf59e0633cc6df
