@{
    ViewBag.Title = "Meet The Team";
}
<h2 class="headFont">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">

    <div class="row">

        <div class="col-xs-6 col-md-4 text-center">
            <img style="border-radius:50%;width:40%;height:40%" src="~/Content/Images/Kevin.jpg" />
            <h3>Kevin Gilfether</h3>
            <a href="https://github.com/kevingilfether"><span class="label"><img src="~/Content/Images/GitHub-Mark-Light-32px.png" /></span></a> <a href="https://www.linkedin.com/in/kevingilfether/"><span class="label"><img src="~/Content/Images/In-White-28px-R.png" /></span></a>
        </div>

        <div class="col-xs-6 col-md-4 text-center">
            <img style="border-radius:50%; width:40%; height: 118px;" src="~/Content/Images/AliMercer2.1 (1).jpg" />
            <h3>Alexandria Ware</h3>
            <a href="https://github.com/alexandriaware"><span class="label"><img src="~/Content/Images/GitHub-Mark-Light-32px.png" /></span></a> <a href="https://www.linkedin.com/in/alexandria-ware/"><span class="label"><img src="~/Content/Images/In-White-28px-R.png" /></span></a>
        </div>

        <div class="col-xs-6 col-md-4 text-center">
            <img style="border-radius:50%;width:40%;height:40%" src="~/Content/Images/Roy.jpg" />
            <h3>Roy Ernst</h3>
            <a href="https://github.com/royernst"><span class="label"><img src="~/Content/Images/GitHub-Mark-Light-32px.png" /></span></a> <a href="https://www.linkedin.com/in/royernst1/"><span class="label"><img src="~/Content/Images/In-White-28px-R.png" /></span></a>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6 col-md-4 text-center">
            <img style="border-radius:50%;width:40%;height:40%" src="~/Content/Images/Brian.jpg" />
            <h3>Brian Dyko</h3>
            <a href="https://github.com/briandyko"><span class="label"><img src="~/Content/Images/GitHub-Mark-Light-32px.png" /></span></a> <a href="https://www.linkedin.com/in/briandyko/"><span class="label"><img src="~/Content/Images/In-White-28px-R.png" /></span></a>
        </div>

        <div class="col-xs-6 col-md-4 text-center">
            <img style="border-radius:50%;width:40%;height:40%" src="~/Content/Images/Cheria.jpg" />
            <h3>Cheria White</h3>
            <a href="https://github.com/cheriaw"><span class="label"><img src="~/Content/Images/GitHub-Mark-Light-32px.png" /></span></a> <a href="https://www.linkedin.com/in/cheria-white/"><span class="label"><img src="~/Content/Images/In-White-28px-R.png" /></span></a>
        </div>

        <div class="col-xs-6 col-md-4 text-center">
            <img style="border-radius:50%;width:40%;height:40%" src="~/Content/Images/Shane.jpg" />
            <h3>Shane Moodie</h3>
            <a href="https://github.com/ShaneMoodie"><span class="label"><img src="~/Content/Images/GitHub-Mark-Light-32px.png" /></span></a> <a href="https://www.linkedin.com/in/shanemoodie/"><span class="label"><img src="~/Content/Images/In-White-28px-R.png" /></span></a>
        </div>

    </div>
</div>
