@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="startPoint">Start:</label>
            <input type="text" class="form-control" id="startPoint">
            <label for="endPoint">End:</label>
            <input type="text" class="form-control" id="endPoint">
            <br />
            <button type="button" class="btn btn-default" id="plotPoints">Go!</button>
            <br /><br />
            <p id="parseDistanceResult"></p>
        </div>
    </div>
    <div class="col-md-8">
        <div id="map"></div>
    </div>
</div>