
    <!-- Main (Home) section -->
    <section class="section" id="head">
        <div class="container">

            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

                    <!-- Site Title, your name, HELLO msg, etc. -->
                    <h1 class="title">AQA Commute</h1>
                    <h2 class="subtitle">Your Personal Air Quality Analyst</h2>

                    <!-- Short introductory (optional) -->
                    <h3 class="tagline" id="fontForced">
                        We track your commute's air quality impact so the hard work is done for you.<br />
                        Your Air Quality Analyst takes your awareness that the environment is in trouble<br />
                        and helps you take action to minimize your affect.
                    </h3>

                    <!-- Nice place to describe your site in a sentence or two -->

                    <!--Button that starts user on commute creation track-->
                    <input type="button" class="btn btn-default btn-lg" value="Continue" id="btn1" onclick="location.href='@Url.Action("Create", "TransportMethods")'" />

                </div> <!-- /col -->
            </div> <!-- /row -->

        </div>
    </section>
    <!--^^^^^IT WORKS NO TOUCHIE-->
    <!--Scripts, local and remote-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="~/Content/magister.js"></script>
    <script src="~/Content/modernizr.custom.72241.js"></script>
@*</body>
</html>*@
