
@{
    ViewBag.Title = "PvPTransit";
}



<h1>Public vs. Personal Transit</h1>

<p>For those of us fortunate enough to have our own personal vehicles to take us where we need to go - we are more than comfortable with our freedoms 
of mobility and ability to come and go as we please...Unfortunately even the greatest of luxuries come with a price. One personal vehicle produces, on average, around 
73.98lbs of CO2 per day!</p>

<h3>Public Transit</h3>
Public transportation keeps the air cleaner than having everyone driving their own personal vehicle. 
It produces, per passenger mile, less pollution by using advanced technology and higher standards. 
In total, public transit in the US saves around 4.2 billion gallons of gasoline annually! 





