
@{
    ViewBag.Title = "PvPTransit";
}



<h1>Public vs. Personal Transit</h1>

<p>Having you own car is every kids dream. The thought of being able to come and go as you please and the freedom that comes with it more than enticing. Unfortuntely having
a personal vehicle is more of a burden than it is a luxury. One personal vehicle produces, on average, around 73.98lbs of CO2 per day! This affects our air quality, health, and our environment. How can we change? </p>
<hr />
<hr />
<h3><strong>Public Transit</strong></h3>
<p>Public transportation keeps the air cleaner than having everyone driving their own personal vehicle. 
It produces, per passenger mile, less pollution by using advanced technology and higher standards. 
In total, public transit in the US saves around 4.2 billion gallons of gasoline annually! Currently in America, public transit use results in a reduction of 865 million hours of travel time!
A bus carrying only seven passengers is more fuel efficient than a car carrying one passenger. A fully occupied train is on average 15x more fuel efficient than a car. Buses produce just 20% of carbon monoxide per passenger mile as single occupant cars. <br />
    <br />
<strong>Bonus:</strong> Currently in America, public transit use results in a reduction of 865 million hours of travel time!</p>
<hr />
<h3><strong>Personal Transit </strong></h3>
<p>The average passenger car in the US generates the following pollutants and emissions annually according to the US environmental protection agency:
<ul>- 38lbs of nitrogen</ul>
<ul>- 77lbs of hydrocarbons</ul>
<ul>- 575lbs of carbon monoxide</ul>
<ul>- 11,450lbs of carbon dioxide</ul>
It also consumes 581 gallons of gasoline every year according to the <a href="https://www.epa.gov/renewable-fuel-standard-program/overview-renewable-fuel-standard">EPA.</a></p>
<hr />
<h3><strong> You Should Switch To Public Transit </strong>(if you can).</h3>
<p>According to the <a href="http://www.apta.com/mediacenter/ptbenefits/Pages/default.aspx">American Public Transportation Association</a> a single commuter switching their commute to public transportation
 can reduce a household's carbon emissions by 10% and up to 30% by eliminating a second car. One person with a 20-mile round
 trip commute who switches from driving to public transit can
 reduce their daily carbon emissions by 20 lbs, or more than 4,800lbs in a year.</p>







