
@{
    ViewBag.Title = "PvPTransit";
}


<div class="container-fluid textpages">
    <h1>The Public vs. Personal Transit Trade-off</h1>

<<<<<<< HEAD
<h1>Public vs. Personal Transit</h1>

<p>Having you own car is every kids dream. The thought of being able to come and go as you please and the freedom that comes with it more than enticing. Unfortuntely having
a personal vehicle is more of a burden than it is a luxury. One personal vehicle produces, on average, around 73.98lbs of CO2 per day! This affects our air quality, health, and our environment. How can we change? </p>
<hr />
<hr />
<h3><strong>Public Transit</strong></h3>
<p>Public transportation keeps the air cleaner than having everyone driving their own personal vehicle. 
It produces, per passenger mile, less pollution by using advanced technology and higher standards. 
In total, public transit in the US saves around 4.2 billion gallons of gasoline annually! Currently in America, public transit use results in a reduction of 865 million hours of travel time!
A bus carrying only seven passengers is more fuel efficient than a car carrying one passenger. A fully occupied train is on average 15x more fuel efficient than a car. Buses produce just 20% of carbon monoxide per passenger mile as single occupant cars. <br />

<img src="~/Content/snow bus.jpg" />
<h3><strong>Personal Transit </strong></h3>
<p>The average passenger car in the US generates the following pollutants and emissions annually according to the US environmental protection agency:
<ul>- 38lbs of nitrogen</ul>
<ul>- 77lbs of hydrocarbons</ul>
<ul>- 575lbs of carbon monoxide</ul>
<ul>- 11,450lbs of carbon dioxide</ul>
It also consumes 581 gallons of gasoline every year according to the <a href="https://www.epa.gov/renewable-fuel-standard-program/overview-renewable-fuel-standard">EPA.</a></p>
<hr />
<h3><strong>Make The Switch to Public Transit! </strong>(if you can)</h3>
<p>According to the <a href="http://www.apta.com/mediacenter/ptbenefits/Pages/default.aspx">American Public Transportation Association</a> a single commuter switching their commute to public transportation
 can reduce a household's carbon emissions by 10% and up to 30% by eliminating a second car. One person with a 20-mile round
 trip commute who switches from driving to public transit can
 reduce their daily carbon emissions by 20 lbs, or more than 4,800lbs in a year.</p>
=======
    <p>Owning a car is every teenager’s dream - the freedom to come and go as you please makes it one of the first monumental steps into adulthood. Unfortunately, owning a vehicle can be more of a burden than a luxury: repair and insurance costs, gasoline, as well as general maintenance all contribute to the decision to drive yourself somewhere or not.</p>
>>>>>>> 7115c02d7d958a3a7035d26388560a91cfe50656

    <p>One of the most widely available alternatives is the option of public transit. Public transit keeps the air cleaner than everyone taking their personal vehicle; it produces, per passenger mile, less pollution.</p>

    <p>Driving your car produces an average of 73.98 pounds of CO2 equivalent per day. However, a bus carrying only seven passengers is more fuel efficient than a car with a single occupant. Along the same line, a fully occupied train is an average of 15 times more fuel efficient.</p>


    <p>The average passenger car in the US <a href="https://www.epa.gov/renewable-fuel-standard-program/overview-renewable-fuel-standard">generates the following</a> pollutants and emissions annually:</p>
    <ul>
        <li>38 pounds of nitrogen</li>
        <li>77 pounds of hydrocarbons</li>
        <li>575 pounds of carbon monoxide</li>
        <li>11, 450 pounds of carbon dioxide</li>
        <li>As well as consuming 581 average gallons of gasoline!</li>
    </ul>

    <p>According to the <a href="http://www.apta.com/mediacenter/ptbenefits/Pages/default.aspx">American Public Transportation Association</a>, a single commuter switching to public transit can reduce a household’s carbon emissions by 10 percent - and up to 30 percent by eliminating a second vehicle. One person with a 20 mile round trip who switches from driving to public transit can reduce their daily carbon emissions by 20 pounds, or more than 4,800 pounds annually.</p>

    <p>So, what’s the trade-off? Other than the former examples, the biggest one is time. Choosing public transit will benefit the planet, but it requires a larger time investment. You also need to have access to the transit system itself. If there isn’t one that is conveniently located, you could drive to a Park-N-Ride or another transit station.</p>

    <p>Some people don’t have public transit available in their area, or it may not go where you need it to. You could carpool. If you are local, you could bike in or walk. There are several options that still reduce your impact!</p>

    <p>Check out some other @Html.ActionLink("resources", "ResourcesPage", "Home").</p>
</div>





