
@{
    ViewBag.Title = "PvPTransit";
}


<div class="container-fluid textpages">
    <h1>The Public vs. Personal Transit Trade-off</h1>


    <p>Owning a car is every teenager’s dream - the freedom to come and go as you please makes it one of the first monumental steps into adulthood. Unfortunately, owning a vehicle can be more of a burden than a luxury: repair and insurance costs, gasoline, as well as general maintenance all contribute to the decision to drive yourself somewhere or not.</p>

    <p>One of the most widely available alternatives is the option of public transit. Public transit keeps the air cleaner than everyone taking their personal vehicle; it produces, per passenger mile, less pollution.</p>

    <p>Driving your car produces an average of 73.98 pounds of CO2 equivalent per day. However, a bus carrying only seven passengers is more fuel efficient than a car with a single occupant. Along the same line, a fully occupied train is an average of 15 times more fuel efficient.</p>


    <p>The average passenger car in the US <a href="https://www.epa.gov/renewable-fuel-standard-program/overview-renewable-fuel-standard">generates the following</a> pollutants and emissions annually:</p>
    <ul>
        <li>38 pounds of nitrogen</li>
        <li>77 pounds of hydrocarbons</li>
        <li>575 pounds of carbon monoxide</li>
        <li>11, 450 pounds of carbon dioxide</li>
        <li>As well as consuming 581 average gallons of gasoline!</li>
    </ul>

    <p>According to the <a href="http://www.apta.com/mediacenter/ptbenefits/Pages/default.aspx">American Public Transportation Association</a>, a single commuter switching to public transit can reduce a household’s carbon emissions by 10 percent - and up to 30 percent by eliminating a second vehicle. One person with a 20 mile round trip who switches from driving to public transit can reduce their daily carbon emissions by 20 pounds, or more than 4,800 pounds annually.</p>

    <p>So, what’s the trade-off? Other than the former examples, the biggest one is time. Choosing public transit will benefit the planet, but it requires a larger time investment. You also need to have access to the transit system itself. If there isn’t one that is conveniently located, you could drive to a Park-N-Ride or another transit station.</p>

    <p>Some people don’t have public transit available in their area, or it may not go where you need it to. You could carpool. If you are local, you could bike in or walk. There are several options that still reduce your impact!</p>

    <p>Check out some other @Html.ActionLink("resources", "ResourcesPage", "Home").</p>
</div>





