
@{
    ViewBag.Title = "PvPTransit";
}



<h1>Public vs. Personal Transit</h1>

<p>For those of us fortunate enough to have our own personal vehicles to take us where we need to go - we are more than comfortable with our freedoms 
of mobility and ability to come and go as we please...Unfortunately even the greatest of luxuries come with a price. One personal vehicle produces, on average, around 
73.98lbs of CO2 per day! Currently in America, Public transit use results in a reduction of 865 million hours of travel time!
A bus with as few as seven passengers is more fuel efficient than a car carrying one person. A fully occupied train is on average 15x more fuel efficient than a car. Buses produce just 20% as much carbon monoxide per passenger mile as single occupant cars. They also produce much less pollutants.
</p>

<h3>Public Transit</h3>
<p>Public transportation keeps the air cleaner than having everyone driving their own personal vehicle. 
It produces, per passenger mile, less pollution by using advanced technology and higher standards. 
In total, public transit in the US saves around 4.2 billion gallons of gasoline annually!</p>

<h3>Personal Transit</h3>
<p>The average passenger car in the US generates the following pollutants and emissions annually according to the US environmental protection agency.
<ul>38lbs of nitrogen</ul>
<ul>77lbs of hydrocarbons</ul>
<ul>575lbs of carbon monoxide</ul>
<ul>11,450lbs of carbon dioxide</ul>
It also consumes 581 gallons of gasoline every year according to the EPA.
</p>

<h3>Why You Should Switch To Public Transit (if you can).</h3>
<p></p>







