
@{
    ViewBag.Title = "ThePoint";
}

<h2>What's the Point?</h2>

<div class="container-fluid textpages">
    <p>Now that we know our impact in one small area, the situation seems pretty depressing. So, why do anything about it at all if there isn’t a 100 percent chance Earth can come back from this?</p>

    <p>The world is getting warmer. Oceans are rising, species are dying out, and we are largely to blame. We also could be next on the list.</p>

    <p>On December 20, 2016, over 350 flights at Beijing Capital International Airport were canceled due to persistent smog. China’s air pollution is causing its residents to die an average of three years earlier than their southern neighbors.</p>

    <img src="~/Content/Images/Xiangyang Smog.jpg" id="china" />

    <p>Nearly half of all Americans live in areas beneath the federal air quality standards. Air pollution carries significant health risks, increasing the risk of respiratory ailments like asthma, as well as raising the risk of cancer.</p>

    <p>Our vehicles are a major contributor to air pollution, producing significant amounts of carbon oxides, sulfur oxides, and CO2 – these fine particles can damage the airways of both humans and animals. The average American household has 2.28 vehicles (per household), and more than 35% of households owns more than three vehicles.</p>
    
    <p>So, assuming a yearly average between all transport vehicles of 21.6 mpg, the average vehicle emits 4.7 tons of CO2 per year. Climate change has been proven to harm our health. [source: http://jamanetwork.com/journals/jama/article-abstract/1909928] And if we don’t take a stand now, we won’t be able to change the outcome at all. We are affecting the climate and health of our planet with each choice we make.</p>

    <p>So how can we turn our concern for the environment into a solution?</p>

    <p>Our app allows a user to take into account their commutes and gives the information back to you as your CO2 equivalent data. We are looking to encourage awareness, because with awareness comes change.</p>

    <p>Why should we care? Here’s some things to consider:</p>

    <p>Mad Max could become a reality. Your grandchildren may not be able to go outside without masks. By the year 2100, extinction may reach one-third of all species now living [Source: http://www.thinkinggreen.gov.gi/index.php/resources/interesting-articles/99-why-should-you-care-about-the-environment]. We are losing numerous species that your descendants will never see. Expected lifespans are dropping in high-pollution areas.  It’s time to take a stand and start making hard decisions, because we are almost out of time to make a difference.</p>
</div>